@import '~uikit/dist/css/uikit.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8F8F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.button-clear {
  background-color: transparent;
  border: none;
}

.image-cover-container {
  overflow: hidden;
  position: relative;
  height: 300px;
}

.card-cover {
  max-width: 400px;
  left: 50%;
  top: 50%;
  z-index: 3000;
}